<section class="new-training" fxLayout fxLayoutAlign="center">

  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
  
    <mat-card fxFlex="400px">

        <mat-card-title fxLayoutAlign="center">이제 시작할 시간입니다. </mat-card-title>

        <mat-card-content fxLayoutAlign="center">
          
          <mat-form-field>
            <mat-select placeholder="운동을 선택하세요" ngModel name="exercise" required>
              <mat-option *ngFor="let e of exercises" [value]="e.id">{{e.name}}</mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

        <mat-card-actions fxLayoutAlign="center">
          <button type="submit" mat-button [disabled]="f.invalid">시작</button>
        </mat-card-actions>
    
    </mat-card>

  </form>

</section>